@import "./variables/colors";

.editButton {
    width: 2rem;
    height: 2rem;
    margin: 2px;
    padding: 1px;
    fill: $base_button;
    &:hover path {
      cursor: pointer;
      fill: $function_button;
    }

}

.editButtonSelected {
    width: 2rem;
    height: 2rem;
    margin: 2px;
    padding: 1px;
    fill: $function_button;
    &:hover path {
      cursor: pointer;
      fill: $base_button;
    }
}
