
 {% load staticfiles %}

 <html>
   <head>
     <title>Creating things</title>
     <link href="{% static 'bootstrap-4/css/bootstrap.css' %}" rel="stylesheet" media="screen" />
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen" /> -->

   </head>

   <body>

        <div  id = "app">
          React hasn't rendered
        </div>
        <!-- {% csrf_token %} -->

        <!-- <script type = "text/babel" src="{% static 'javascript/src/form_app.js' %}"> </script> -->
        <script src="{% static 'react_app/public/bundle.js' %}"> </script>

   </body>
 </html>
