.clearfix >.col > p {
    vertical-align: middle;
    margin-bottom: 0;
}

.delete-button-in-clearfix  {
    padding: 0;
}

/* .clearfix  {
    color: : #6e7b91;
} */

div.card {
  filter: drop-shadow(0px 5px 10px #6e7b91);
}

.mainFormValue{
  /* width: 50%; */
  width: 25rem;
  height: 24rem
}

.customRow{
  min-height: 3rem;
}

textarea#valueDescriptionCreate {
  max-height: 30rem;
  resize: none;
}
