@import "./variables/colors";

body {
  font-family: Helvetica, Arial, sans-serif;
  // font-size: 1.6rem;
}

.nav-item {
  color: $link_color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $link_hover;
  };

  &.is_active {
    color: $link_hover;
    text-decoration: none;
    // pointer-events: none;
  }
}

a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $link_hover;
  };
}

@media (max-width: 45rem){
  .jumbotron {
    width: 105%;
    }
  .navbar {
    width: 125%;
    // padding-right:5rem;
    }
}
